.login-btn-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-text {
    font-size: 14px;
    color: black;
}

.signup-link {
    color: black;
    text-decoration: underline;
}

.login-head {
    color: black;
    font-family: 'Lora', sans-serif;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 40px;
}

.icon {
    margin-right: 6px;
}

.login-btn {
    padding: 10px 18px;
}

#errorMsg1, #errorMsg2, #errorMsg3, #logerrorMsg2, #logerrorMsg3 {
    padding-left: 10px;
}

#LogSuccessMsg, #SuccessMsg {
    padding-right: 10px;
}